.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#popupPartyDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 800px;
    height: 70%;
    overflow: auto;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#popupPartyDiv::-webkit-scrollbar {
    width: 10px; 
}
#popupPartyDiv::-webkit-scrollbar-thumb {
    background-color: #161d1a67;
    border-radius: 10px;
    border: 2px solid #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#popupPartyDiv::-webkit-scrollbar-track {
    background: #00000017;
    border-radius: 10px;
}

#popupPartyDiv .instagram-card-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #c4c4c400;
}

#popupPartyDiv .instagram-card-user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#popupPartyDiv .instagram-card-header div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#popupPartyDiv .instagram-card-user-name {
    font-weight: bold;
    color: #262626;
    font-size: 18px;
}

#popupPartyDiv .instagram-card-time {
    color: #999;
    font-size: 14px;
}

#popupPartyDiv .instagram-card-image {
    max-width: 100%;
    overflow: hidden;
}

#popupPartyDiv .instagram-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #f2f2f2;
}

#popupPartyDiv .instagram-card-content {
    padding: 20px;
    background-color: #fafafa00;
}

#popupPartyDiv .likes {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#popupPartyDiv .categorie {
    margin: 10px 0;
    color: #666;
    font-size: 14px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#popupPartyDiv .categorie span {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

#popupPartyDiv .partecipanti {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.faq-section {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 60px; /* Aggiunto margine per evitare sovrapposizione */
}

#popupPartyDiv .button-iscrizione {
    position: relative; /* Cambiato da absolute a fixed */

    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#popupPartyDiv .button-iscrizione:hover {
    background-color: #0056b3;
}

.faq-list {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 10px; 
    margin: 10px;
}




.faq-input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Spazio tra textarea e bottone */
    margin: 10px;
}

.faq-input {
    flex-grow: 1; /* La textarea occupa tutto lo spazio disponibile */
    margin: 0; /* Rimuove il margine inferiore */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}

.faq-submit {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Dimensione fissa per il pulsante */
    height: 40px;
    
}

.faq-submit .arrow-icon {
    font-weight: bold;
    font-size: 18px;
}

.faq-submit:hover {
    background-color: #0056b3;
}

.faq-item {
    margin-bottom: 10px;
    color: black;
}

.faq-risposta {
    font-style: italic;
    color: #555;
}

#popupPartyDiv #chiusuraParty {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    z-index: 1001;
}

.selected-faq {
    background-color: #0056b3;/* Colore a tua scelta */
}