.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#popupDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 0;
    max-height: 800px;
    box-shadow: 0 10px 20px rgba(0, 2, 0, 12);
    z-index: 1000;
    height: 70%;
    overflow: auto;
    overflow-x: hidden;
}

#popupDiv::-webkit-scrollbar {
    width: 10px; 
}
#popupDiv::-webkit-scrollbar-thumb {
    background-color: #161d1a67;
    border-radius: 10px;
    border: 2px solid #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#popupDiv::-webkit-scrollbar-track {
    background: #00000017;
    border-radius: 10px;
}

/* Intestazione della card (foto, nome utente, orario) */
.instagram-card-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #ffffff;
}

.instagram-card-user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.instagram-card-user-name {
    margin-left: 20px;
    font-weight: bold;
    color: #262626;
    font-size: 18px;
    margin-top: 10px;
}

.instagram-card-time {
    margin-left: auto;
    color: #999;
    font-size: 14px;
    padding-top: 5px;
}

/* Immagine principale della card */
.instagram-card-image {
    max-width: 100%;
    overflow: hidden;
}

.instagram-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #f2f2f2;
}

/* Contenuto della card (descrizione) */
.instagram-card-content {
    padding: 20px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.likes {
    font-weight: bold;
    color: #333;
    
}

/* Pulsante di chiusura */
#popupDiv .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    z-index: 1001;
}

/* Sezione dei like (posizionata sopra) */
.likes-section {
    padding: 10px 20px;
    background-color: #fafafa;
    border-top: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-button {
    background: none;
    border: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    color: #000000;
}

.like-button:hover {
    color: #000000;
}

#likeCount {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

/* Sezione dei commenti */
.comments-section {
    padding: 20px;
    background-color: #fafafa;
    align-items: start;
    border-top: 1px solid #f2f2f2;
}

#commentList {
    margin-bottom: 20px;
}

.comment {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

.comment .comment-user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.comment .comment-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.comment .comment-content .comment-user-name {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.comment .comment-content .comment-text {
    font-size: 14px;
    
    color: #666;
}

.comment-input {
    display: flex;
    align-items: center;
}

#commentInput {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addCommentButton {
    padding: 8px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

#addCommentButton:hover {
    background-color: #672d55;
}

.button-iscrizione {
    position: relative; /* Cambiato da absolute a fixed */

    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}



  
  